<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width,intial-scale=1.0">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
